nav{
    display:flex;
    gap:1rem;
    justify-content:flex-start
}.active-link{
    background-color:#fff;
    color:var(--mdc-theme-primary) !important
}a.mat-button{
    border-radius:50%;
    padding:10px 20px;
    transition:background-color .3s ease-in-out,color .3s ease-in-out
}