<mat-toolbar color="primary">
  <span>KJ</span>
  <mat-divider [inset]='true' [vertical]='true'></mat-divider>
  <span class="spacer"></span>
  <nav>
    <a mat-button mat-button-flat routerLink="/" routerLinkActive="['active-link']"> Home </a>
    <a mat-flat-button routerLink="/about" routerLinkActive="['active-link']"> About </a>
    <a mat-flat-button routerLink="/projects" routerLinkActive="['active-link']"> Projects </a>
    <a mat-flat-button routerLink="/contact" routerLinkActive="['active-link']"> Contact </a>
  </nav>
</mat-toolbar>