nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.spacer {
  flex: 1 1 auto;
}

.active-link {
  background-color: white;
  color: var(--mdc-theme-primary) !important;
}

a.mat-button {
  border-radius: 50%;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
